:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Colors */
  --black: #000000;
  --white: #ffffff;
  --gray: #808080;
  --red: #ff0000;
  --green: #00ff00;
  --blue: #0000ff;
  --yellow: #ffff00;
  --purple: #800080;
  --orange: #ffa500;
  --brown: #a52a2a;
  --pink: #ffc0cb;
}
