@import "tailwindcss";
@import "./colors.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-dm-sans: var(--font-dm-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-dm-sans);
}

p,
span,
a,
button,
input,
textarea,
label {
  font-family: var(--font-inter);
}
