.section {
    width: 100%;
    padding: 70px 20px;
    position: relative;
    background: radial-gradient(circle at top left, rgba(197, 46, 0, 0.377), transparent 55%),
        radial-gradient(circle at bottom right, rgba(248, 47, 21, 0.589), transparent 60%);
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

.heading {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px;
    color: #be291e;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    background: #ffffff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
    transition: 0.25s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 32px rgba(0, 0, 0, 0.08);
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #093d31;
}

.desc {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
}

.placeholder {
    color: #999;
    font-style: italic;
}

/* Responsive */
@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 550px) {
    .grid {
        grid-template-columns: 1fr;
    }
}