.section {
    padding: 80px 0;
    background: radial-gradient(circle at top left, rgba(197, 46, 0, 0.377), transparent 55%),
        radial-gradient(circle at bottom right, rgba(248, 47, 21, 0.589), transparent 60%);
}

/* Title */
.sectionTitle {
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 1px;
    color: #ee1515;
}

/* Grid */
.cardsWrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 35px;
}

/* OUTER Card Layer (Waada style double box) */
.cardOuter {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    padding: 12px;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.cardOuter:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

/* INNER Card Layer */
.card {
    background: rgba(255, 255, 255, 0.09);
    padding: 20px;
    border-radius: 16px;
    border: 1px solid rgba(29, 27, 27, 0.2);
}

/* Image */
.imgWrapper {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text */
.cardTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fd1e1e;
}

.cardDesc {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 18px;
    color: #0f0f0f;
}

/* Button */
.btn {
    width: 100%;
    background: #ff9a9a;
    color: #8b0e0e;
    border: none;
    padding: 12px 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s;
}

.btn:hover {
    background: #69a795;
}