.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 999;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.sidebar {
    width: 85%;
    max-width: 340px;
    height: 100%;
    background: #1db27c;
    padding: 20px;
    transform: translateX(-100%);
    transition: 0.3s;
}

.show .sidebar {
    transform: translateX(0);
}

.close {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.section button {
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.sub {
    padding-left: 14px;
}

.sub a {
    display: block;
    color: white;
    padding: 8px 0;
    font-size: 16px;
}

.link {
    display: block;
    color: white;
    font-size: 18px;
    padding: 12px 0;
}